
@{
  Layout = "_Layout";
}

        <h1>Details for this Stylist:</h1>
        @if (Model != null)
        {
          <h3>@Model.GetName()</h3>
          <h4>Phone #: @Model.GetPhoneNumber()</h4>
          <h4>Email: @Model.GetEmail()</h4>
          <h4>@Model.GetExperience() years experience</h4>

          <h3>Clients:</h3>

          @foreach(var client in Model.GetAllClients())
          {
            <h4><em>@client.GetName()</em></h4>
            <h5>Phone #: @client.GetPhoneNumber()</h5>
            <br>
            <form action="/clients/delete/@client.GetId()" method="post"><button type="submit" name="deleteClient">Drop this Client</button></form>
          }
        }
        <hr>
        <a href="/clients/new">Add a Client</a>
        <hr>
        <a href="/">Back to Main</a>
        <hr>


        <form action="/stylists/delete/@Model.GetId()" method="post">
          <button type="submit" name="deleteStylist">Fire this Stylist</button>
        </form>
        <hr>
